* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  html {
    scroll-behavior: smooth;
  }
  
  .russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .algorithm_show {
    min-height: 100vh; 
    background-color: #00090E;
  }

  .head {
    display: grid;
    grid-gap: 2em;
    padding: 2%;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: minmax(10vh, auto);
  }

  .head a {
    font-family: 'bitter-light';
    font-size: 2vh;
    /* position: absolute; */
    align-self: center;
	justify-self: end;
    /* top: 20px; */
    /* right: 20px; */
    padding: 0.5rem 1rem;
    background-color: #0b2d2650; 
    color: #00df82;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  .head a:hover{
    box-shadow: 0px 5px 20px; 
    background-color: #1a2e3900; 

  }

  .head h1 {
    grid-column: 1/4;
    /* padding-right: 5%; */
    align-self: start;
	justify-self: start;
    font-family: 'Russo One';
    font-size: 8vh;
    color: #00df82;
    /* position: absolute; */
    /* top: 20px;
    left: 20px; */
  }
  
  
  #myCanvas {
    background-color: #00090E;
    border: 5px inset #F1F7F7;
    border-radius: 1.5%;
    margin-top: 1vh;
    /* margin-left: 4%; */
    align-self: center;
	justify-self: center;
    grid-column: 1/3;
    grid-row: 2/6
    /* width: 100%; */
    /* height: 100%; */
  }

  #count_city {
    font-family: 'bitter';
    font-weight: 400;
    font-size: 3vh;
    color: #F1F7F7;
    grid-column: 3/5;
    align-self: center;
	justify-self: center;

  }

  #algorithm {
    grid-column: 3/5;
    align-self: center;
	justify-self: center;
    padding: 10px; 
    line-height: 1.5;
    font-size: clamp(1rem, 2.5vw, 3.5rem);
    font-family: 'Bitter';
    font-weight: 700;
    border: none;
    width: 30%; /*на всю ширину колонки*/
    aspect-ratio: 3 / 1; /*соотношение сторон — одинаковая "форма"*/
    color: #00DF82; /*text-transform: uppercase;*/
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #00DF82;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 223, 130, 0.5), 0 0 20px
    rgba(0, 223, 130, 0.3), 0 0 30px rgba(0, 223, 130, 0.2);
    transition: all 0.4s ease;
  }
  #algorithm:hover{
    background-color: #00DF82; /* Цвет кнопки при наведении */
    color: #00090E;
  }

  #step_algorythm{
    font-family: 'bitter';
    font-weight: 400;
    font-size: 2.5vh;
    color: #F1F7F7;
    /* grid-column: 3/5; */
    grid-row: 6/7;
    align-self: center;
	justify-self: center;
  }

  #length {
    font-family: 'bitter';
    font-weight: 500;
    font-size: 3vh;
    color: #00DF82;
    grid-column: 3/5;
    align-self: center;
	justify-self: center;
  }

  #clear {
    font-family: 'bitter-light';
    font-size: 2vh;
    /* position: absolute; */
    align-self: center;
	justify-self: center;
    /* top: 20px; */
    /* right: 20px; */
    grid-column: 2/3;
    padding: 0.5rem 1rem;
    background-color: #0b2d2650; 
    color: #00df82;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  #clear:hover{
    box-shadow: 0px 5px 20px; 
    background-color: #1a2e3900; 
  }

  

  .slider-container {
    position: relative;
    width: 100%;
    /* padding: 2vh; */
    align-self: center;
	justify-self: center;
    grid-column: 3/5;
  }
  
  .slider-wrapper {
    position: relative;
    width: 30%;
    margin: auto;
    margin-top: 15%;
  }
  
  input[type=range] {
    -webkit-appearance: none; /* убираем стандартный стиль */
    width: 100%;
    height: 10px; /* высота шкалы */
    background: #333; /* цвет шкалы */
    border-radius: 4px;
    outline: none;
  }
  
  /* ====== ШКАЛА ====== */
  input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    /*background: #00DF82; /* кастомный цвет шкалы */
    border: 3px solid #00DF82;
    border-radius: 4px;
  }
  
  /* ====== ПОЛЗУНОК ====== */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #00090E; /* цвет кружочка */
    border: 3px solid #00DF82;
    /* cursor: pointer; */
    margin-top: -1.3vh; /* чтобы центрировался по шкале */
    transition: transform 0.2s ease;
  }
  
  input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1.2);


  }
  
  /* ====== ЦИФРА НАД ПОЛЗУНКОМ ====== */
  .slider-value {
    position: absolute;
    top: -50px; /* отступ вверх */
    left: 0;
    transform: translateX(-50%);
    color: #F1F7F7;
    font-family: 'Bitter', serif;
    font-size: 2.5vh;
    pointer-events: none; /* игнорирует клики */
  }
  
  #generation_city {
    grid-column: 3/5;
    font-family: 'bitter-light';
    font-size: 2vh;
    /* position: absolute; */
    align-self: center;
	justify-self: center;
    /* top: 20px; */
    /* right: 20px; */
    padding: 0.5rem 1rem;
    background-color: #0b2d2650; 
    color: #00df82;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  #generation_city:hover{
    box-shadow: 0px 5px 20px; 
    background-color: #1a2e3900; 
  }