body {
    font-family: Arial;
    margin: 0;
    padding: 20px;
    background-color: #00090E;
}

h1 {
    color: #00DF82;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-family: "Russo One", sans-serif;
    margin: 50px auto 20px;
    width: auto;
    font-size: 2em;
    max-width: 700px;
    text-align: center;
}

.area {
    margin-left: 40px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(4, 10, 6, 0.9);
    z-index: 1002;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"]::-webkit-file-upload-button,
button {
    background-color: #00090E;
    border: 1px;
    border-radius: 8px;
    color:#fff;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s;
    font-size: 1em;
    font-weight: 500;
    font-family: "Russo One", sans-serif;
    padding: 12px 24px;
    cursor: pointer;
    backdrop-filter: blur(5px);
    overflow: hidden;
    margin: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
}
input[type="file"]::before::-webkit-file-upload-button,
button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00DF82;;
    z-index: -1;
    transition: all 0.3s ease;
    opacity: 0;
}

input[type="file"]:hover::-webkit-file-upload-button,
button:hover {
    background-color: #00DF82;
    color: #00090E;
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(0, 223, 130, 0.5), 0 0 20px
    rgba(0, 223, 130, 0.3), 0 0 30px rgba(0, 223, 130, 0.2);
}

input[type="file"]::after::-webkit-file-upload-button,
button::after {
    background: #ffffff18;
    content: '';
    position: absolute;
}


a {
    bottom: 0px;
    flex: 1;
    line-height: 3;
    margin-bottom: 20px;
    position: fixed;
    display: inline-block;
    text-align: center;
    background-size: 20px;
    padding: 2px 15px;
    transition: all 0.3s ease;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Russo One", sans-serif;
    color:#ffffff;
    outline-color: transparent;
    background-color: rgba(6, 49, 35, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.089);
}

a:hover {
    background-color: #00DF82;
    color: #00090E;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 223, 130, 0.5), 0 0 20px
    rgba(0, 223, 130, 0.3), 0 0 30px rgba(0, 223, 130, 0.2);
}

a:active {
    background-color: rgb(2, 26, 22);
    color: white;
}


textarea {
    width: 80%;
    padding: 12px 16px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    color: #e8fff1;
    font-family: 'Russo One', sans-serif;
    font-size: 1em;
    resize: vertical;
    box-shadow: 0 0 10px #07281a;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-family:  sans-serif;
}

textarea:focus {
    outline: none;
    border-color: #00df82;
    box-shadow: 0 0 10px #00DF82;
    background-color: rgba(255, 255, 255, 0.08);
}

#treeCanvasID {
    border:2px solid #fff;
    background-color: #608d6e8c;
    border-radius: 8px;
}

.container {
    display: flex;
    gap: 30px;
    align-items: center;
}

#nav {    
    top: 10px;
    left: 20px;
    z-index: 1001;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    flex: 1;
    line-height: 1.3;
    margin-bottom: 20px;
    position: fixed;
    display: inline-block;
    text-align: center;
    background-size: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: "Russo One", sans-serif;
    color:#ffffff;
    outline-color: transparent;
    background-color: rgba(6, 49, 35, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.089);
}
#nav:hover {
    background-color: #00DF82;
    color: #00090E;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 223, 130, 0.5), 0 0 20px
    rgba(0, 223, 130, 0.3), 0 0 30px rgba(0, 223, 130, 0.2);
}

#nav:active {
background-color: rgb(2, 26, 22);
color: white;
}


#hiddenNav {
position: fixed;
top: 0;
left: -400px;
width: 400px;
height: 100vh; 
background: #00090E;
transition: left 0.3s ease;
padding-top: 60px;
box-shadow: 2px 0 8px rgba(0,0,0,0.5);
overflow-y: auto; 
z-index: 1000;
}
#hiddenNav.active {
left: 0;
}
#hiddenNav a {
position: relative; 
display: block;
color: #00DF82;
padding: 12px 16px;
text-decoration: none;
font-family: 'Bitter', serif;
font-size: 0.8rem;
border-bottom: 1px solid rgba(0,223,130,0.2);
}
#hiddenNav a:hover {
background: rgba(0,223,130,0.1);
}
