body {
    font-family: Arial;
    margin: 0;
    padding: 20px;
    background-image: url(komarustay.png),   
    linear-gradient(to right, rgb(96, 126, 107), rgb(29, 76, 50) 100%);
    background-attachment: fixed;
    background-blend-mode: overlay;
}

button {
    background-color: rgba(154, 180, 154, 0.4);
    border: 1px;
    border-radius: 8px;
    color:#fff;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s;
    font-size: 1em;
    font-weight: 500;
    padding: 12px 24px;
    cursor: pointer;
    backdrop-filter: blur(5px);
    overflow: hidden;
    margin: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(119, 159, 147, 0.6), rgba(86, 124, 112, 0.8));
    z-index: -1;
    transition: all 0.3s ease;
    opacity: 0;
}

button:hover {
    color: #172b1d;
    background-color: #8ba79d;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
}

button:hover::before {
    opacity: 1;
}

button::after {
    background: #ffffff18;
    content: '';
    position: absolute;
}

h1 {
    color: aliceblue;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

p {
    color:aliceblue;
}

a {
    flex: 1;
    line-height: 3;
    text-align: center;
    background-size: 20px;
    outline-color: transparent;
}

a {
    display: inline-block;
    text-align: center;
    background-size: 20px;
    padding: 2px 15px;
    transition: all 0.3s ease;
    text-decoration: none;
    border-radius: 10px;
    color:#ffffff;
    outline-color: transparent;
    background-color: rgba(6, 49, 35, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.089);
}

a:hover {
    background: #fff;
    color: #172b1d;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

a:active {
    background-color: rgb(2, 26, 22);
    color: white;
}

.container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.text_h1 {
    border: 1px solid #fff;
    border-radius: 12px;
    color:#fff;
    background-color: #02291377;
    margin: 50px auto 20px;
    width: auto;
    max-width: 500px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.089);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(21, 43, 27, 0.9);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
    z-index: 1000;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.range_eps_info_div,
.range_rad_info_div,
.range_info_div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(21, 52, 41, 0.3);
    border-radius: 8px;
    margin:5px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1)
}

input[type="range"] {
    -webkit-appearance: none;
    width: 250px;
    height: 10px;
    border-radius: 5px;
    background: rgba(224, 224, 224, 0.2);
    outline: none;
    margin: 15px 0;
    transition: all 0.3s ease;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: linear-gradient(90deg, #9ab49a 0%, #779f93 100%);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border: 2px solid #779f93;
    transition: all 0.2s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


.canvas_clasterization {
    background-color: #15352488;
    border-radius: 12px;
    padding: 20px;
    backdrop-filter: blur(5px);
    margin-bottom: 20px; 
    margin-right: 100px;
    margin-left: 50px;
    border: 1px solid rgba(0, 0, 0, 0.089);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#canvas_for_clusterization {
    border-radius: 8px;
    border: 1px solid #000;
    background: #ffffff;
    display: block;
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
}

label, .count_of_points_text {
    color:#ffffffd0;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    margin-bottom: 5px;
}

@media (max-width: 768) {
    .container {
        flex-direction: column;
    }

    .text_h1 {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    input[type="range"] {
        width: 200px;
    }
}