* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 20px;
    background-color: #00090E;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("komarustay.png");
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}


button {
    background-color: #00090E;
    border: 1px;
    border-radius: 8px;
    color:#fff;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s;
    font-size: 1em;
    font-weight: 500;
    font-family: "Russo One", sans-serif;
    padding: 12px 24px;
    cursor: pointer;
    backdrop-filter: blur(5px);
    overflow: hidden;
    margin: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00DF82;;
    z-index: -1;
    transition: all 0.3s ease;
    opacity: 0;
}

button:hover {
    background-color: #00DF82;
    color: #00090E;
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(0, 223, 130, 0.5), 0 0 20px
    rgba(0, 223, 130, 0.3), 0 0 30px rgba(0, 223, 130, 0.2);
}

button::after {
    background: #ffffff18;
    content: '';
    position: absolute;
}

h1 {
    color: #00DF82;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-family: "Russo One", sans-serif;
    margin: 50px auto 20px;
    width: auto;
    font-size: 2em;
    max-width: 500px;
    text-align: center;
}

p {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Russo One", sans-serif;
    font-size: 3vh; 
    margin-top: 1rem; 
    margin-top: 3vh;
    margin-bottom: 3vh; 
    color: #fff;

}

a {
    bottom: 0px;
    flex: 1;
    line-height: 3;
    margin-bottom: 20px;
    position: fixed;
    display: inline-block;
    text-align: center;
    background-size: 20px;
    padding: 2px 15px;
    transition: all 0.3s ease;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Russo One", sans-serif;
    color:#ffffff;
    outline-color: transparent;
    background-color: rgba(6, 49, 35, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.089);
}

a:hover {
    background-color: #00DF82;
    color: #00090E;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 223, 130, 0.5), 0 0 20px
    rgba(0, 223, 130, 0.3), 0 0 30px rgba(0, 223, 130, 0.2);
}

a:active {
    background-color: rgb(2, 26, 22);
    color: white;
}

.container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(4, 10, 6, 0.9);
    z-index: 1000;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.range_eps_info_div,
.range_rad_info_div,
.range_info_div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: "Russo One", sans-serif;
    background-color: #1433284d;
    border-radius: 8px;
    margin:5px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1)
}

input[type="range"] {
    -webkit-appearance: none;
    width: 250px;
    height: 10px;
    border-radius: 5px;
    background: rgba(224, 224, 224, 0.2);
    outline: none;
    margin: 15px 0;
    transition: all 0.3s ease;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #9ab4a7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 223, 130, 0.5), 0 0 20px
    rgba(0, 223, 130, 0.3), 0 0 30px rgba(0, 223, 130, 0.2);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7px;
    box-shadow: 0 0 10px rgba(0, 223, 130, 0.5), 0 0 20px
    rgba(0, 223, 130, 0.3), 0 0 30px rgba(0, 223, 130, 0.2);
    border: 2px solid #779f93;
    transition: all 0.2s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.canvas_block {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.info_text {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: rgba(20, 50, 40, 0.3);
    color: white;
    border-radius: 6px;
    font-family: "Russo One", sans-serif;
    text-align: center;
    font-size: 20px;
    max-width: 300px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.canvas_clasterization {
    background-color: #15352488;
    border-radius: 12px;
    padding: 20px;
    backdrop-filter: blur(5px);
    margin-bottom: 20px; 
    margin-right: 100px;
    flex-wrap: wrap;
    margin-left: 50px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.089);
    box-shadow: 0 0 10px rgba(0, 223, 130, 0.5), 0 0 20px
    rgba(0, 223, 130, 0.3), 0 0 30px rgba(0, 223, 130, 0.2);
}

#canvas_for_clusterization1,
#canvas_for_clusterization2,
#canvas_for_clusterization3 {
    border-radius: 8px;
    border: 1px solid #000;
    background: #ffffff;
    display: block;
    margin: 0 auto;
}

label, .count_of_points_text {
    color:#ffffffd0;
    margin-bottom: 5px;
    font-family: "Russo One", sans-serif;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .canvas_clasterization {
        max-width: 500px;
        padding: 15px;
    }
}
