body {
    margin: 0;
    padding: 0;
    background: #030F0F;
    height: 100vh;
    color: white;
}

.container {
    padding-left: 30px;
    padding-top: 20px; 
    display: flex;
    gap: 30px;
    padding: 20px;  
    max-width: 1000px;
   

}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

h1 {
    color: #00DF82;
    padding-left: 60px;
    font-family: 'Russo One';
    font-size: 50px;
    
}

.buttonBack {
    display: inline-flex;
    justify-content: flex-end;
    background-color: #030F0F;
    border: 1px solid #00DF82;
    border-radius: 14px;
    padding: 6px 12px;
    font-family: 'Bitter';
    font-size: 14px;
    color: #00DF82 !important;
    margin: 20px;
    text-decoration: none !important;
}

.buttonBack:hover {
    background-color: #00DF82;
    color: #030F0F !important;
    
}

.control-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #030F0F;
    border: 1px solid #00DF82;
    border-radius: 14px;
    padding: 10px 15px;
    font-family: 'Bitter';
    font-size: 14px;
    color: #00DF82 !important;
    margin: 20px;
    cursor: pointer;

}

.control-button:hover {
    background-color: #00DF82;
    color: #030F0F !important;
}

.size-text{
    font-family: 'Bitter Light';
}


canvas  {
    border: 2px solid #F1F7F7;
    background-color: #F1F7F7;
    margin-top: -20px;
}

