/* h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#grid {
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(31, 30px);
    grid-template-rows: repeat(31, 30px);
    gap: 2px;
    margin: 40px auto;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: rgb(68, 67, 68);
    border: 1px solid #616161;
    box-sizing: border-box;
}

.wall {
    background-color:rgb(68, 67, 68);
}

.free {
    background-color: white;

}

.start {
    background-color: greenyellow;
}

.end {
    background-color: red;
}

.range_info_div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: flex;
    align-items: center;
}

.container {
    /* background-color: rgb(143, 199, 216); */
    /* display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: rgb(143, 199, 216);
}

input[type="range"] {
    width: 200px;
    height: 8px; 
    border-radius: 5px;
}



#generateButton {
    width: 120px;
    height: 50px;
    background-color: rgb(224, 163, 114);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    display: inline-flex;

}

#searchPath {
    width: 120px;
    height: 50px;
    background-color: rgb(224, 163, 114);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-flex;
    
} */ 





body {
    background-color: #a4eccb;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
}

canvas  {
    border: 2px solid #444;
    margin: 20px 0;
    background-color: #fff;
}

